<mat-toolbar color="primary">
  <button mat-icon-button (click)="onCerrarMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Libro Market</span>
  <div fxFlex fxLayoutGap fxLayoutAlign="end">
    <ul fxLayout="row" fxLayoutGap.lg="10px" class="navegacion-menu">
      <li *ngIf="estadoUsuario"><a routerLink="/">Inicio</a></li>
      <li *ngIf="estadoUsuario"><a routerLink="books">Lista de libros</a></li>
      <li *ngIf="!estadoUsuario"><a routerLink="registrar">Registro</a></li>
      <li *ngIf="!estadoUsuario"><a routerLink="login">Login</a></li>
    </ul>
  </div>
</mat-toolbar>
